body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  background-color: yellowgreen;
  padding: 0.5em;
  margin: auto;
}
article {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  background-color: lightblue;
  padding: 0.2em;
}
.seats {
  border: 1px solid red;
  background: yellow;
}
.smallBox::before {
  content: ".";
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 10px;
}
.greenBox::before {
  content: "";
  background: Green;
}
.redBox::before {
  content: "";
  background: Red;
}
.emptyBox::before {
  content: "";
  background-color: grey;
}
table {
  text-align: center;
}
input[type="checkbox"]:before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: grey;
}

input[type="checkbox"]:checked:before {
  background-color: Green;
  font-size: 15px;
}
#confirmselection {
  padding: auto;
  margin: 1em;
}
